#kanbas-navigation-sidebar {
    background-color: black;
}

.kanbas-icon {
    color: red;
}

#account-icon {
    color: gray;
    justify-content: start;
}

#kanbas-navigation-sidebar a {
    color: white;
}

a {
    text-align: center;
}

.kanbas-navigation-sidebar-item {
    text-align: center;
    margin-top: 15%;
    margin-bottom: 10%;
    width: 100%;
    position: relative;
}

#account-container {
    background-color: white;
}

#account-container a {
    color: red;
}